html,body{
min-height: 100%;
}


body.tylkotu {
background: #567 url("http://i64.tinypic.com/289assy.jpg") no-repeat center;
    background-size: cover;
}


.przycisk_wyboru {
border: solid;
    
padding: 5px;
text-align: center;
    margin-top: 20px;
margin-bottom: 10px;
    
    background-color: rgba(255,255,255,0.5);
}

.mojbackbutton
{ margin-left:10px;
}

.dodaj {
    text-align: center;
}


ul{
padding:0;
}

.menu_dzielnice li {
border: solid;
padding: 5px;
text-align: center;
 margin-top: 10px;
margin-bottom: 10px;
text-decoration: none;
list-style-type: none;
    }



p.szukaj {
text-align:center; 
}

.wydarzenie {
margin-left: 20px;
}

a:hover {
text-decoration: none;
}

a{
color: darkblue;
}