html,body{
min-height: 100%;
}




a {
    border-style: none;
}

body.tylkotu {
background: #567 url("http://i65.tinypic.com/aonafk.png") no-repeat center;
    background-size: cover;
}

.navbar
{
    background-color: white;
    
}

p {
    font-kerning: auto;
    font-size: 12px;
    font-weight: 200;
    border-style: none;
}


.przycisk_wyboru {
 padding: 5px;
text-align: center;
    margin-top: 20px;
margin-bottom: 10px;
    
}

.mojbackbutton
{ margin-left:10px;
}

.dodaj {
    text-align: center;
}


ul{
padding:0;
}

.menu_dzielnice li {
padding: 5px;
text-align: center;
 margin-top: 10px;
margin-bottom: 10px;
text-decoration: none;
list-style-type: none;
    }



p.szukaj {
text-align:center; 
}

.wydarzenie {
margin-left: 20px;
}

a:hover {
text-decoration: none;
}

a{
color: white;
font-weight: 400;
    font-size: 15px;
}